doctype html
html(lang="en")
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title INPHO!

    link(href="bt/css/bootstrap.min.css" rel="stylesheet")
body(style="color:#525252")
    div.navbar(style="text-align:center; margin-top:20px;")
        img(src="imgs/inphoLogoName.png" style="height:50px;")
    div.container
        br
        div.row(style="text-align:center;")
            div.col-md-2
            div.col-md-8
                h4(style="font-weight:normal;") INPHO is the next best app for location-aware information of any kind. Walk into a place with available information and it is instantly available on the app.
        br
        div.row
            div.col-md-4(style="text-align:center;")
                h2 For Restaurants
                br
                h4(style="font-weight:normal;") Get into a restaurant and open the app to instantly view the menu. Scan the QR code on the table to place your order right from your phone.
                h4(style="font-weight:normal;") Restaurant owners can customize what is displayed on their business locations. Simply click the register button below and begin creating your template.
            div.col-md-4(style="text-align:center;")
                h2 For Events
                br
                h4(style="font-weight:normal;") At a concert? Open the app to view the drink selection at the bar. Then get directions to the nearest bathroom and a list of upcoming performers.
                h4(style="font-weight:normal;") At an amusement park? Open the app and find a map of the attractions and places of interest.
            div.col-md-4(style="text-align:center;")
                h2 For Your Customers!
                br
                h4(style="font-weight:normal;") Run a store/service/event/whatever? Want to enable these amazing features on it too?
                h4(style="font-weight:normal;") Just click the button below and see how easy and fast it is to let your customers use information about your business when they most need it: when they're there.
                small note that some features may require a subscription
        br
        br
        div.row()
            div.col-md-12(style="text-align:center;")
                button.btn.btn-default.btn-lg REGISTER YOUR BUSINESS<br/>WITH INPHO TODAY!

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="bt/js/bootstrap.min.js")
